---
title: 8000038 GDPR otrok račun preverjanja
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: sl-SI
ms.lasthandoff: 01/24/2019
ms.locfileid: "29490205"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum rojstva, ki so prikazani v računu Microsoft je napačna

Microsoft ima varnost računa zelo resno. Ste morda pred kratkim bili pozvani zagotoviti soglasje staršev za otrokovo Microsoft račun. Če potrebujete pomoč, zagotavljanje soglasje staršev ali posodabljanje datum rojstva na račun Microsoft, glejte [preverjanje starosti za soglasje staršev](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Več o [soglasje staršev in Microsoft otrok računov](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

