---
title: 8000038 GDPR otrok račun preverjanja
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: sl-SI
ms.lasthandoff: 01/24/2019
ms.locfileid: "29490205"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="cad05-102">Datum rojstva, ki so prikazani v računu Microsoft je napačna</span><span class="sxs-lookup"><span data-stu-id="cad05-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="cad05-p101">Microsoft ima varnost računa zelo resno. Ste morda pred kratkim bili pozvani zagotoviti soglasje staršev za otrokovo Microsoft račun. Če potrebujete pomoč, zagotavljanje soglasje staršev ali posodabljanje datum rojstva na račun Microsoft, glejte [preverjanje starosti za soglasje staršev](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="cad05-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="cad05-106">Več o [soglasje staršev in Microsoft otrok računov](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="cad05-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

