---
title: Preverjanje EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: sl-SI
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205283"
---
# <a name="edu-verification"></a>Preverjanje EDU

V večini primerov se zahteve za akademsko upravičenost obdelajo v 24–48 urah. Nekatere zahteve lahko zahtevajo temeljitejši pregled in lahko traja do 10 delovnih dni za obdelavo. Ko bo končano, vam bomo poslali e-poštno sporočilo s statusom upravičenosti vaše šole.

**Pomembno je, da** Če ste pred vnosom v domeno zapustili čarovnika za preverjanje, [lahko](https://go.microsoft.com/fwlink/p/?linkid=2135255) med brezplačno preskusno različico kadar koli nadaljujete s čarovnikom za preverjanje.

Če želite preveriti stanje domene, od tam obiščite [Skrbniško središče za Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na domači strani se pomaknite na dno in poiščite **kartico za obračunavanje.** Kartica **za obračunavanje** označuje stanje postopka preverjanja (odobreno, čakajoče, zavrnjeno ali dodajo domeno).

Če je vaša zahteva zavrnjena, [glejte Moja šola ni upravičena. Kaj naj storim zdaj?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)