---
title: Preverjanje EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: sl-SI
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946780"
---
# <a name="edu-verification"></a>Preverjanje EDU

V večini primerov so zahteve za akademsko upravičenost obdelane v 24–48 urah. Nekatere zahteve je morda treba natančneje pregledati, kar lahko traja do 10 delovnih dni. Ob zaključku postopka vam bomo poslali e-poštno sporočilo s stanjem upravičenosti vaše šole.

**Pomembno** Če ste pred vnosom domene zapustili čarovnika za preverjanje, lahko [v čarovniku za preverjanje nadaljujete](https://go.microsoft.com/fwlink/p/?linkid=2135255) kadarkoli v času brezplačnega preskusa.

Če želite preveriti stanje svoje domene, obiščite [Skrbniško središče za Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na domači strani se pomaknite na dno strani in poiščite razdelek **Obračunavanje**. Razdelek **Obračunavanje** kaže stanje postopka preverjanja (odobreno, čakajoče, zavrnjeno ali dodajanje domene).

Če je vaša zahteva zavrnjena, glejte [Moja šola ni upravičena. Kaj naj naredim?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)