---
title: Preverjanje EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: HT
ms.contentlocale: sl-SI
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814388"
---
# <a name="edu-verification"></a><span data-ttu-id="caa72-102">Preverjanje EDU</span><span class="sxs-lookup"><span data-stu-id="caa72-102">EDU verification</span></span>

<span data-ttu-id="caa72-103">V večini primerov so zahteve za akademsko upravičenost obdelane v 24–48 urah.</span><span class="sxs-lookup"><span data-stu-id="caa72-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="caa72-104">Nekatere zahteve je morda treba natančneje pregledati, kar lahko traja do 10 delovnih dni.</span><span class="sxs-lookup"><span data-stu-id="caa72-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="caa72-105">Ob zaključku postopka vam bomo poslali e-poštno sporočilo s stanjem upravičenosti vaše šole.</span><span class="sxs-lookup"><span data-stu-id="caa72-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="caa72-106">**Pomembno** Če ste pred vnosom domene zapustili čarovnika za preverjanje, lahko [v čarovniku za preverjanje nadaljujete](https://go.microsoft.com/fwlink/p/?linkid=2135255) kadarkoli v času brezplačnega preskusa.</span><span class="sxs-lookup"><span data-stu-id="caa72-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="caa72-107">Če želite preveriti stanje svoje domene, obiščite [Skrbniško središče za Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="caa72-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="caa72-108">Na domači strani se pomaknite na dno strani in poiščite razdelek **Obračunavanje**.</span><span class="sxs-lookup"><span data-stu-id="caa72-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="caa72-109">Razdelek **Obračunavanje** kaže stanje postopka preverjanja (odobreno, čakajoče, zavrnjeno ali dodajanje domene).</span><span class="sxs-lookup"><span data-stu-id="caa72-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="caa72-110">Če je vaša zahteva zavrnjena, glejte [Moja šola ni upravičena. Kaj naj naredim?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="caa72-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>