---
title: 8000038 GDPR preverjanje otroškega računa
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: sl-SI
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764996"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum rojstva, prikazan v vašem Microsoftovem računu, je napačen

Microsoft upošteva varnost računa zelo resno. Morda ste pred kratkim pozvani, da zagotovite privolitev staršev za otrokov Microsoftov račun. Če potrebujete pomoč pri zagotavljanju privolitve staršev ali posodabljanju datuma rojstva v Microsoftovem računu, glejte [preverjanje starosti za privolitev staršev](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Preberite več o [soglasju staršev in Microsoftovih podrejenih računih](https://go.microsoft.com/fwlink/p/?linkid=874365).
  