---
title: 8000038 za preverjanje otrokove kartice GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: sl-SI
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057010"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum rojstva, prikazan v Vašem Microsoftovem računu, ni pravilen

Microsoft jemlje varnost računa zelo resno. Morda ste bili nedavno pozvani k soglasju staršev za otrokov Microsoftov račun. Če potrebujete pomoč pri zagotavljanju soglasja staršev ali posodabljanju datuma rojstva v Microsoftovem računu, glejte Preverjanje starosti [za soglasje staršev.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Preberite več o [soglasju staršev in Microsoftovih računih otrok.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  