---
title: 8000038 GDPR otrok račun preverjanja
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: sl-SI
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524427"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum rojstva, ki so prikazani v računu Microsoft je napačna

Microsoft ima varnost računa zelo resno. Ste morda pred kratkim bili pozvani zagotoviti soglasje staršev za otrokovo Microsoft račun. Če potrebujete pomoč, zagotavljanje soglasje staršev ali posodabljanje datum rojstva na račun Microsoft, glejte [preverjanje starosti za soglasje staršev](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Več o [soglasje staršev in Microsoft otrok računov](https://go.microsoft.com/fwlink/p/?linkid=874365).
  