---
title: 8000038 GDPR otrok račun preverjanja
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: sl-SI
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400985"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="0da53-102">Datum rojstva, ki so prikazani v računu Microsoft je napačna</span><span class="sxs-lookup"><span data-stu-id="0da53-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="0da53-103">Microsoft ima varnost računa zelo resno.</span><span class="sxs-lookup"><span data-stu-id="0da53-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="0da53-104">Ste morda pred kratkim bili pozvani zagotoviti soglasje staršev za otrokovo Microsoft račun.</span><span class="sxs-lookup"><span data-stu-id="0da53-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="0da53-105">Če potrebujete pomoč, zagotavljanje soglasje staršev ali posodabljanje datum rojstva na račun Microsoft, glejte [preverjanje starosti za soglasje staršev](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="0da53-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="0da53-106">Več o [soglasje staršev in Microsoft otrok računov](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="0da53-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

