---
title: Odpravljanje težav s preverjanjem Publisherja
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: sl-SI
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885372"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Težave, povezane s preverjanjem Publisherja za razvijalce

**Priporočeni koraki** 

Če želite odpraviti težave, povezane s preverjanjem Publisherja, izvedite spodnja navodila:

1. Preglejte pogoje in druge zahteve, da zagotovite, da so vsi izpolnjeni.
2. Preglejte navodila, da [označite program kot Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) in preverite, ali so bili vsi koraki uspešno izvedeni.
3. Preglejte seznam [pogostih težav](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) in upoštevajte priporočene korake, če imate težave s takim seznamom.
4. Reproducirati zahtevo z [raziskovalcem](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) v programu Graph, da zbere dodatne informacije in izključuje morebitne težave v uporabniškem vmesniku.

**Priporočeni dokumenti**

- [Preverjanje pristnosti Publisherja – pregled](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Označevanje aplikacije kot Publisherja](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Odpravljanje težav s preverjanjem Publisherja](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

