---
title: Odpravljanje težav s preverjanjem Publisherja
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: sl-SI
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885372"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="b0203-102">Težave, povezane s preverjanjem Publisherja za razvijalce</span><span class="sxs-lookup"><span data-stu-id="b0203-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="b0203-103">**Priporočeni koraki**</span><span class="sxs-lookup"><span data-stu-id="b0203-103">**Recommended steps**</span></span> 

<span data-ttu-id="b0203-104">Če želite odpraviti težave, povezane s preverjanjem Publisherja, izvedite spodnja navodila:</span><span class="sxs-lookup"><span data-stu-id="b0203-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="b0203-105">Preglejte pogoje in druge zahteve, da zagotovite, da so vsi izpolnjeni.</span><span class="sxs-lookup"><span data-stu-id="b0203-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="b0203-106">Preglejte navodila, da [označite program kot Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) in preverite, ali so bili vsi koraki uspešno izvedeni.</span><span class="sxs-lookup"><span data-stu-id="b0203-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="b0203-107">Preglejte seznam [pogostih težav](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) in upoštevajte priporočene korake, če imate težave s takim seznamom.</span><span class="sxs-lookup"><span data-stu-id="b0203-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="b0203-108">Reproducirati zahtevo z [raziskovalcem](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) v programu Graph, da zbere dodatne informacije in izključuje morebitne težave v uporabniškem vmesniku.</span><span class="sxs-lookup"><span data-stu-id="b0203-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="b0203-109">**Priporočeni dokumenti**</span><span class="sxs-lookup"><span data-stu-id="b0203-109">**Recommended documents**</span></span>

- [<span data-ttu-id="b0203-110">Preverjanje pristnosti Publisherja – pregled</span><span class="sxs-lookup"><span data-stu-id="b0203-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="b0203-111">Označevanje aplikacije kot Publisherja</span><span class="sxs-lookup"><span data-stu-id="b0203-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="b0203-112">Odpravljanje težav s preverjanjem Publisherja</span><span class="sxs-lookup"><span data-stu-id="b0203-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

